<!-- Row 1 -->
<div class="row">
    <div class="col-sm-3">
        <div clienttile name="Actor's Express" logo-url="actors_express.jpg"></div>
    </div>
    <div class="col-sm-3">
        <div clienttile name="Akzo Nobel" logo-url="akzo_nobel_logo.jpg"></div>
    </div>
    <div class="col-sm-3">
        <div clienttile name="ArchWood" logo-url="archwood_logo.jpg"></div>
    </div>
    <div class="col-sm-3">
        <div clienttile name="Avivia" logo-url="avivia_logo.jpg" work-url="work-avivia.html" linked="true"></div>
    </div>
</div>
<!-- Row 2 -->
<div class="row vertical-gutter">
    <div class="col-sm-3">
        <div clienttile name="Birla Carbon" logo-url="birla_carbon_logo.jpg" work-url="work-birlacarbon.html" linked="true"></div>
    </div>
    <div class="col-sm-3">
        <div clienttile name="Blue Ember" logo-url="Blue_Ember_Logo.jpg" work-url="work-blueember.html" linked="true"></div>
    </div>
    <div class="col-sm-3">
        <div clienttile name="Chick-fil-A" logo-url="cfa_logo.jpg"></div>
    </div>
    <div class="col-sm-3">
        <div clienttile name="Checkfree" logo-url="checkfree_logo.jpg"></div>
    </div>
</div>
<!-- Row 3 -->
<div class="row vertical-gutter">
    <div class="col-sm-3">
        <div clienttile name="Cox Communications" logo-url="cox_comm_logo.jpg"></div>
    </div>
    <div class="col-sm-3">
        <div clienttile name="CrownCastle" logo-url="crowncastle_logo.jpg"></div>
    </div>
    <div class="col-sm-3">
        <div clienttile name="EarthShare" logo-url="earthshare_logo.jpg"></div>
    </div>
    <div class="col-sm-3">
        <div clienttile name="Equant" logo-url="equant_logo.jpg"></div>
    </div>
</div>
<!-- Row 4 -->
<div class="row vertical-gutter">
    <div class="col-sm-3">
        <div clienttile name="EVI" logo-url="evi_logo.jpg"></div>
    </div>
    <div class="col-sm-3">
        <div clienttile name="Georgia-Pacific" logo-url="georgia-pacific_logo.jpg"></div>
    </div>
    <div class="col-sm-3">
        <div clienttile name="Georgia Ports Authority" logo-url="gpa_logo.jpg" work-url="work-gpa.html" linked="true"></div>
    </div>
    <div class="col-sm-3">
        <div clienttile name="Hewlet Packard" logo-url="hp_logo.jpg"></div>
    </div>
</div>
<!-- Row 5 -->
<div class="row vertical-gutter">
    <div class="col-sm-3">
        <div clienttile name="IABC" logo-url="iabc_logo.jpg"></div>
    </div>
    <div class="col-sm-3">
        <div clienttile name="InTuit" logo-url="intuit_logo.jpg"></div>
    </div>
    <div class="col-sm-3">
        <div clienttile name="Kore" logo-url="kore_logo.jpg"></div>
    </div>
    <div class="col-sm-3">
        <div clienttile name="L3" logo-url="l3_logo.jpg"></div>
    </div>
</div>
<!-- Row 5 -->
<div class="row vertical-gutter">
    <div class="col-sm-3">
        <div clienttile name="Landstar" logo-url="landstar_logo.jpg"></div>
    </div>
    <div class="col-sm-3">
        <div clienttile name="Manheim" logo-url="manheim_logo.jpg"></div>
    </div>
    <div class="col-sm-3">
        <div clienttile name="NCR" logo-url="ncr_logo.jpg"></div>
    </div>
    <div class="col-sm-3">
        <div clienttile name="Novelis" logo-url="novelis_logo.jpg" work-url="work-novelis.html" linked="true"></div>
    </div>
</div>
<!-- Row 6 -->
<div class="row vertical-gutter">
    <div class="col-sm-3">
        <div clienttile name="Numerex" logo-url="numerex_logo.jpg"></div>
    </div>
    <div class="col-sm-3">
        <div clienttile name="Orkin" logo-url="orkin_logo.jpg"></div>
    </div>
    <div class="col-sm-3">
        <div clienttile name="PerkinElmer" logo-url="perkin-elmer_logo.jpg"></div>
    </div>
    <div class="col-sm-3">
        <div clienttile name="REIT Funding, LLC" logo-url="reit_funding_logo.jpg"></div>
    </div>
</div>
<!-- Row 7 -->
<div class="row vertical-gutter">
    <div class="col-sm-3">
        <div clienttile name="RockTenn" logo-url="rocktenn_logo.jpg"></div>
    </div>
    <div class="col-sm-3">
        <div clienttile name="S1" logo-url="s1_logo.jpg"></div>
    </div>
    <div class="col-sm-3">
        <div clienttile name="Scientific Atlanta" logo-url="scientificatlanta_logo.jpg"></div>
    </div>
    <div class="col-sm-3">
        <div clienttile name="SOS Children's Villages USA" logo-url="sosvillages_logo.jpg"></div>
    </div>
</div>
<!-- Row 8 -->
<div class="row vertical-gutter">
    <div class="col-sm-3">
        <div clienttile name="Saint Joseph's Hospital" logo-url="st_josephs_logo.jpg"></div>
    </div>
    <div class="col-sm-3">
        <div clienttile name="SunTrust" logo-url="suntrust_logo.jpg" work-url="work-suntrust.html" linked="true"></div>
    </div>
    <div class="col-sm-3">
        <div clienttile name="TOTO" logo-url="toto_logo.jpg"></div>
    </div>
    <div class="col-sm-3">
        <div clienttile name="TRC Staffing Services" logo-url="trc_logo.jpg"></div>
    </div>
</div>
<!-- Row 9 -->
<div class="row vertical-gutter">
    <div class="col-sm-3">
        <div clienttile name="United Way of Metropolitan Atlanta" logo-url="unitedway_logo.jpg"></div>
    </div>
    <div class="col-sm-3">
        <div clienttile name="VCG Consultants" logo-url="vcr_logo.jpg"></div>
    </div>
    <div class="col-sm-3">
        <div clienttile name="VeriFone" logo-url="verifone_logo.jpg"></div>
    </div>
    <div class="col-sm-3">
        <div clienttile name="Watson Wyatt" logo-url="watsonwyatt_logo.jpg"></div>
    </div>
</div>
<!-- Row 10 -->
<div class="row vertical-gutter">
    <div class="col-sm-3">
        <div clienttile name="WIKA" logo-url="wika_logo.jpg"></div>
    </div>
</div>
    <!-- <div class="col-sm-3">
        <div clienttile name="UPS" logo-url="ups_logo.jpg" work-url="work-ups-brand.html" linked="true"></div>
    </div> -->