<div class="client-tile">
	<div class="client-link" ng-if="linked">
		<div class="client-casestudy">
			<div class="client-casestudy-title">
			<a href="{{workUrl}}" class="white"><small><i class="fa fa-arrow-circle-right" style="margin-right:5px;"></i>View work</small></a>
			</div>
		</div>
		<a href="{{workUrl}}"><img class="client-logo img-responsive" ng-src="images/client-logos/{{logoUrl}}" alt="{{name}}" title="{{name}}" /></a>
	</div>
	<img ng-if="!linked" class="client-logo img-responsive" ng-src="images/client-logos/{{logoUrl}}" alt="{{name}}" title="{{name}}" />
</div>