<!--
SEE:
http://stackoverflow.com/questions/11056819/how-would-i-use-angularjs-ng-repeat-with-twitter-bootstraps-scaffolding/11058532#11058532
-->

<div class="container-fluid people-grid">
    <div class="row " ng-class="$first ? '' : 'vertical-gutter'" ng-repeat="i in people.range()">
        <span ng-repeat="person in people.slice(i,i+4)">
            <div class="col-sm-3">
                <div person id="{{person.id}}" name="{{person.name}}" ng-click="people.dosomething()"></div>
            </div>
        </span>
    </div>
</div>