
        .font1 {
        font-size: 12px;
        font-family: "HelveticaNeue";
        color: #FFFFFF ;
        opacity: 1 ;
        }
        .font1 a {
        text-decoration: none;
        color: #FFFFFF;
        }
        .font1 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font1 a:visited {
        color: #900060;
        }
      
        .font2 {
        font-size: 52px;
        font-family: "HelveticaNeue";
        color: #007489 ;
        opacity: 1 ;
        }
        .font2 a {
        text-decoration: none;
        color: #007489;
        }
        .font2 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font2 a:visited {
        color: #900060;
        }
      
        .font3 {
        font-size: 11px;
        font-family: "HelveticaNeue";
        color: #000000 ;
        opacity: 1 ;
        }
        .font3 a {
        text-decoration: none;
        color: #000000;
        }
        .font3 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font3 a:visited {
        color: #900060;
        }
      
        .font4 {
        font-size: 11px;
        font-family: "HelveticaNeue";
        color: #FFFFFF ;
        opacity: 1 ;
        }
        .font4 a {
        text-decoration: none;
        color: #FFFFFF;
        }
        .font4 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font4 a:visited {
        color: #900060;
        }
      
        .font5 {
        font-size: 18px;
        font-family: "HelveticaNeue";
        color: #21A8CD ;
        opacity: 1 ;
        }
        .font5 a {
        text-decoration: none;
        color: #21A8CD;
        }
        .font5 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font5 a:visited {
        color: #900060;
        }
      
        .font6 {
        font-size: 60px;
        font-family: "HelveticaNeue";
        color: #FFFFFF ;
        opacity: 1 ;
        }
        .font6 a {
        text-decoration: none;
        color: #FFFFFF;
        }
        .font6 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font6 a:visited {
        color: #900060;
        }
      
        .font7 {
        font-size: 14px;
        font-family: "HelveticaNeue";
        color: #008E71 ;
        opacity: 1 ;
        }
        .font7 a {
        text-decoration: none;
        color: #008E71;
        }
        .font7 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font7 a:visited {
        color: #900060;
        }
      
        .font8 {
        font-size: 84px;
        font-family: "HelveticaNeue";
        color: #008E71 ;
        opacity: 1 ;
        }
        .font8 a {
        text-decoration: none;
        color: #008E71;
        }
        .font8 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font8 a:visited {
        color: #900060;
        }
      
        .font9 {
        font-size: 11px;
        font-family: "HelveticaNeue";
        color: #21A8CD ;
        opacity: 1 ;
        }
        .font9 a {
        text-decoration: none;
        color: #21A8CD;
        }
        .font9 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font9 a:visited {
        color: #900060;
        }
      
        .font10 {
        font-size: 14px;
        font-family: "HelveticaNeue";
        color: #FFFFFF ;
        opacity: 1 ;
        }
        .font10 a {
        text-decoration: none;
        color: #FFFFFF;
        }
        .font10 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font10 a:visited {
        color: #900060;
        }
      
        .font11 {
        font-size: 11.0px;
        font-family: "HelveticaNeue";
        color: #007489 ;
        opacity: 1 ;
        }
        .font11 a {
        text-decoration: none;
        color: #007489;
        }
        .font11 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font11 a:visited {
        color: #900060;
        }
      
        .font12 {
        font-size: 8.0px;
        font-family: "HelveticaNeue";
        color: #007489 ;
        opacity: 1 ;
        }
        .font12 a {
        text-decoration: none;
        color: #007489;
        }
        .font12 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font12 a:visited {
        color: #900060;
        }
      
        .font13 {
        font-size: 50px;
        font-family: "HelveticaNeue";
        color: #FFFFFF ;
        opacity: 1 ;
        }
        .font13 a {
        text-decoration: none;
        color: #FFFFFF;
        }
        .font13 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font13 a:visited {
        color: #900060;
        }
      
        .font14 {
        font-size: 12px;
        font-family: "HelveticaNeue";
        color: #007489 ;
        opacity: 1 ;
        }
        .font14 a {
        text-decoration: none;
        color: #007489;
        }
        .font14 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font14 a:visited {
        color: #900060;
        }
      
        .font15 {
        font-size: 7px;
        font-family: "HelveticaNeue";
        color: #FFFFFF ;
        opacity: 1 ;
        }
        .font15 a {
        text-decoration: none;
        color: #FFFFFF;
        }
        .font15 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font15 a:visited {
        color: #900060;
        }
      
        .font16 {
        font-size: 19px;
        font-family: "HelveticaNeue";
        color: #FFFFFF ;
        opacity: 1 ;
        }
        .font16 a {
        text-decoration: none;
        color: #FFFFFF;
        }
        .font16 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font16 a:visited {
        color: #900060;
        }
      
        .font17 {
        font-size: 22px;
        font-family: "HelveticaNeue";
        color: #007489 ;
        opacity: 1 ;
        }
        .font17 a {
        text-decoration: none;
        color: #007489;
        }
        .font17 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font17 a:visited {
        color: #900060;
        }
      
        .font18 {
        font-size: 8px;
        font-family: "HelveticaNeue";
        color: #000000 ;
        opacity: 1 ;
        }
        .font18 a {
        text-decoration: none;
        color: #000000;
        }
        .font18 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font18 a:visited {
        color: #900060;
        }
      
        .font19 {
        font-size: 18px;
        font-family: "HelveticaNeue";
        color: #008E71 ;
        opacity: 1 ;
        }
        .font19 a {
        text-decoration: none;
        color: #008E71;
        }
        .font19 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font19 a:visited {
        color: #900060;
        }
      
        .font20 {
        font-size: 6.4px;
        font-family: "HelveticaNeue";
        color: #000000 ;
        opacity: 1 ;
        }
        .font20 a {
        text-decoration: none;
        color: #000000;
        }
        .font20 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font20 a:visited {
        color: #900060;
        }
      
        .font21 {
        font-size: 11px;
        font-family: "Helvetica";
        color: #000000 ;
        opacity: 1 ;
        }
        .font21 a {
        text-decoration: none;
        color: #000000;
        }
        .font21 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font21 a:visited {
        color: #900060;
        }
      
        .font22 {
        font-size: 13px;
        font-family: "HelveticaNeue";
        color: #008E71 ;
        opacity: 1 ;
        }
        .font22 a {
        text-decoration: none;
        color: #008E71;
        }
        .font22 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font22 a:visited {
        color: #900060;
        }
      
        .font23 {
        font-size: 35px;
        font-family: "HelveticaNeue";
        color: #007489 ;
        opacity: 1 ;
        }
        .font23 a {
        text-decoration: none;
        color: #007489;
        }
        .font23 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font23 a:visited {
        color: #900060;
        }
      
        .font24 {
        font-size: 11px;
        font-family: "HelveticaNeue";
        color: #008E71 ;
        opacity: 1 ;
        }
        .font24 a {
        text-decoration: none;
        color: #008E71;
        }
        .font24 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font24 a:visited {
        color: #900060;
        }
      
        .font25 {
        font-size: 38.5px;
        font-family: "HelveticaNeue";
        color: #008E71 ;
        opacity: 1 ;
        }
        .font25 a {
        text-decoration: none;
        color: #008E71;
        }
        .font25 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font25 a:visited {
        color: #900060;
        }
      
        .font26 {
        font-size: 28px;
        font-family: "HelveticaNeue";
        color: #FFFFFF ;
        opacity: 1 ;
        }
        .font26 a {
        text-decoration: none;
        color: #FFFFFF;
        }
        .font26 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font26 a:visited {
        color: #900060;
        }
      
        .font27 {
        font-size: 21px;
        font-family: "HelveticaNeue";
        color: #FFFFFF ;
        opacity: 1 ;
        }
        .font27 a {
        text-decoration: none;
        color: #FFFFFF;
        }
        .font27 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font27 a:visited {
        color: #900060;
        }
      
        .font28 {
        font-size: 48px;
        font-family: "HelveticaNeue";
        color: #008E71 ;
        opacity: 1 ;
        }
        .font28 a {
        text-decoration: none;
        color: #008E71;
        }
        .font28 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font28 a:visited {
        color: #900060;
        }
      
        .font29 {
        font-size: 13px;
        font-family: "HelveticaNeue";
        color: #21A8CD ;
        opacity: 1 ;
        }
        .font29 a {
        text-decoration: none;
        color: #21A8CD;
        }
        .font29 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font29 a:visited {
        color: #900060;
        }
      
        .font30 {
        font-size: 40px;
        font-family: "HelveticaNeue";
        color: #007489 ;
        opacity: 1 ;
        }
        .font30 a {
        text-decoration: none;
        color: #007489;
        }
        .font30 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font30 a:visited {
        color: #900060;
        }
      
        .font31 {
        font-size: 27px;
        font-family: "HelveticaNeue";
        color: #21A8CD ;
        opacity: 1 ;
        }
        .font31 a {
        text-decoration: none;
        color: #21A8CD;
        }
        .font31 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font31 a:visited {
        color: #900060;
        }
      
        .font32 {
        font-size: 28px;
        font-family: "HelveticaNeue";
        color: #007489 ;
        opacity: 1 ;
        }
        .font32 a {
        text-decoration: none;
        color: #007489;
        }
        .font32 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font32 a:visited {
        color: #900060;
        }
      
        .font33 {
        font-size: 11.5px;
        font-family: "CenturyGothic";
        color: #FFFFFF ;
        opacity: 1 ;
        }
        .font33 a {
        text-decoration: none;
        color: #FFFFFF;
        }
        .font33 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font33 a:visited {
        color: #900060;
        }
      
        .font34 {
        font-size: 12px;
        font-family: "HelveticaNeue";
        color: #21A8CD ;
        opacity: 1 ;
        }
        .font34 a {
        text-decoration: none;
        color: #21A8CD;
        }
        .font34 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font34 a:visited {
        color: #900060;
        }
      
        .font35 {
        font-size: 17px;
        font-family: "HelveticaNeue";
        color: #E7F304 ;
        opacity: 1 ;
        }
        .font35 a {
        text-decoration: none;
        color: #E7F304;
        }
        .font35 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font35 a:visited {
        color: #900060;
        }
      
        .font36 {
        font-size: 13px;
        font-family: "HelveticaNeue";
        color: #FFFFFF ;
        opacity: 1 ;
        }
        .font36 a {
        text-decoration: none;
        color: #FFFFFF;
        }
        .font36 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font36 a:visited {
        color: #900060;
        }
      
        .font37 {
        font-size: 24px;
        font-family: "HelveticaNeue";
        color: #FFFFFF ;
        opacity: 1 ;
        }
        .font37 a {
        text-decoration: none;
        color: #FFFFFF;
        }
        .font37 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font37 a:visited {
        color: #900060;
        }
      
        .font38 {
        font-size: 31.8px;
        font-family: "HelveticaNeue";
        color: #008E71 ;
        opacity: 1 ;
        }
        .font38 a {
        text-decoration: none;
        color: #008E71;
        }
        .font38 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font38 a:visited {
        color: #900060;
        }
      