.entry-meta {
	a {
		color: $realm-orange;
	}
}

.entry-summary {
	line-height: 24px;
}

.entry-title {
	a {
		text-decoration: none;
	}
}

article.post {
	background-color: $white;
	padding: 1px 20px 20px 20px;
}

aside.sidebar {
	a, ul, li {
		color: $realm-light-gray;
	}
	h1, h2, h3, h4, h5, h6 {
		color: $realm-light-gray;
	}
}

.wp-post-image {
	width: 100%;
	height: inherit;
}

.input-group .search-field, .input-group .search-submit {
	border-radius: 0;
}