.info-circle {
	position: absolute;
	z-index: 1;
	width: 100%;
	margin: 0;
}

.work-image {
	margin: 0;
}

/* .work-video {
	height: 232px;
	margin-top: 0;
} */

/* Class injected by FitVidsJS */
.fluid-width-video-wrapper {
	margin-top: 0;
	margin-bottom: 0;
}

.work-categories {
	margin: 0;
}

